@page "/counter"
@rendermode RenderMode.InteractiveServer

<PageTitle>Counter</PageTitle>

<h1 class="@Css.H1">Counter</h1>

<p class="my-4">Current count: @currentCount</p>

<button class="@Css.PrimaryButton" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
