@page "/secure/coupons"
@attribute [Authorize(Roles = "Employee")]
@rendermode RenderMode.InteractiveServer

<PageTitle>Coupons</PageTitle>

<h1 class="mb-4 @Css.H1">Coupons</h1>

<AutoQueryGrid Model="Coupon" Apis="Apis.AutoQuery<QueryCoupons,CreateCoupon,UpdateCoupon,DeleteCoupon>()" />
