@inherits LayoutComponentBase
@layout MainLayout

<h1 class="@Css.H1">Manage your account</h1>

<div>
    <h4 class="font-semibold text-lg my-2">Change your account settings</h4>
    <hr class="dark:border-gray-700" />
    <div class="flex flex-wrap">
        <div class="grow-0">
            <ManageNavMenu />
        </div>
        <div class="grow p-4 sm:pl-16">
            @Body
        </div>
    </div>
</div>
