@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<h1 class="@Css.H1">Forgot password confirmation</h1>

<p class="my-4">
    Please check your email to reset your password.
</p>
