@page "/Account/Lockout"

<PageTitle>Locked out</PageTitle>

<header>
    <h1 class="@Css.H1">Locked out</h1>
    <p class="my-4 text-danger">This account has been locked out, please try again later.</p>
</header>
